<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">UJTesters</h5>
        <p>Hola companeros, nos anadimos los precios a las empresas con mis subcontrataros  </p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Dev IOS</a>
          </li>
          <li>
            <a href="#!">Dev Android</a>
          </li>
          <li>
            <a href="#!">QA IOS</a>
          </li>
          <li>
            <a href="#!">QA Android</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Dev backoffice</a>
          </li>
          <li>
            <a href="#!">Qa backoffice</a>
          </li>
          <li>
            <a href="#!">Dev Cucumber</a>
          </li>
          <li>
            <a href="#!">Qa Cucumber</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->
      <p>
        <a href="https://javaunifiedtester.com/force" target="_top">JAVA UNIFIED TESTER</a>
      </p>
    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://javaunifiedtester.com/force"> Hasan Hüseyin Ali Gül</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
